body {
    background-image: url(../img/back.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 14vh;
    color: white;
    width: 100%;
}

.top {
    display: flex;
    background-color: #b94866;
    height: 5vh;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    width: 80%;
    height: 5vh;
    background: linear-gradient( 114deg, transparent 96%, #EBB4AE 4%);
}

.left p {
    margin: 0;
    margin-left: 50px;
}

.imagenes {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 20px;
}

.right {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 20%;
    background-color: #EBB4AE;
}

.right i {
    font-size: 15px; 
}

.right p {
    margin: 0 20px 0 10px;
}

.bottom {
    width: 100%;
    align-items: center;
    display: flex;
    height: 9vh;
}

.left2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    width: 26%;
    background: linear-gradient( 114deg, #EBB4AE 91%, white 9%);
}   

.right2 {
    background-color: white;
    color: black;
    height: 9vh;
    width: 74%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.right2 a {
    text-decoration: none;
    color: black;
}

.right2 ul {
    margin: 0;
    margin-right: 40px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.right2 select {
    border: none;
}


.container-1 {
    background: linear-gradient(to right, #f29caf 10%, #ffffff 90%);
    background-color: #a25876;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 300px;
    width: 33%;
    clip-path: polygon(50% 75%, 100% 100%, 100% 0, 0 0, 0 100%);
}

.container-1 img {
    margin-top: 30px;
}

.container-1 p {
    margin-top: -35px;
}

 .content {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.btn-left {
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.content p {
    font-size: 25px;
    color: black;
} 

.content h1 {
    font-size: 70px;
}

.content button {
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 120px;
    border-radius: 0;
}

.btn-right {
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-items: center;
}