body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 175vh;
}

header {
    height: 9vh;
    color: white;
    width: 100%;
}

.bottom {
    width: 100%;
    height: 9vh;
}

.left2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    width: 26%;
    background: linear-gradient( 114deg, #9D49BA 91%, white 9%);
}   

.main-container {
    height: 70vh;
    align-content: center;
    justify-items: center;
    flex-direction: column;
}

.container-top {
    width: 85%;
    height: 15%;
    border-top: solid 1px #CCCCCC;
    align-content: center;
    margin-top: 50px;
}

.container-top h5 {
    margin-left: 40px;
}

.container {
    background-color: white;
    height: 65%;
    width: 100%;
    margin-top: 50px;
}

.form2 {
    display: flex;
}

.c1 {
    display: flex;
    gap: 20px;
    margin-left: 75px;
    margin-top: 50px
}

.c1 i {
    font-size: 24px;
}

.container h4 {
    position: absolute;
}

.container-left {
    width: 50%;
    justify-items: center;
 }

.container-right {
    width: 50%;
    justify-items: center;
}

.group {
    margin-top: 20px;
    font-size: 18px;
    color: orange;
}

.group input {
    border: solid 1px #CCCCCC;
    width: 400px;
    height: 35px;
    margin-top: 10px;
    padding: 10px;
}

.container-des {
    height: 10%;
    width: 85%;
}

.container-tex {
    height: 30%;
    width: 85%;
    justify-items: center;
}

.cont-tit {
    height: 10%;
    width: 85%;
}

.cont-tex {
    height: 20%;
    width: 85%;
}

.cont-tex p {
    margin-left: 75px;
    text-align: start;
    color: black;
    font-size: 18px;
}

.cont-im {
    height: 10%;
    width: 85%;
}

.ft {
    margin-left: 75px;
    font-size: 15px;
    width: 40%;
    border: solid 1px #CCCCCC;
}

.last-inf {
    text-align: center;

}

.last-inf button {
    margin: 10px;
    border-radius: 0;
    border: 1px solid red;
    color: white;
    height: 35px;
    width: auto;
}

.last-inf i {
    margin-right: 5px;
}

footer {
    background-color: #002d62; 
    color: white;
    text-align: center;
    padding: 15px 10px; 
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 0;
}

footer a {
    color: #f76b1c; 
    text-decoration: none;
    font-weight: bold;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    gap: 10px;
}